{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Dane użytkownika
    </h1>
    <p>IMIĘ: {{ resultData['name'] }}</p>
    <p>NAZWISKO: {{ resultData['surname'] }}</p>
    <p>WIEK: {{ resultData['age'] }}</p>
    <p>TELEFON: {{ resultData['phone'] }}</p>
    <p>EMAIL: {{ resultData['email'] }}</p>
    <p>STAWKA NA GODZINE: {{ resultData['hourly_rate'] }}</p>

    <a href="/display/users"><button>WRÓĆ</button></a>
    <a href="/display/user/update/{{ resultData['id'] }}"><button>EDYTUJ</button></a>
    <button onclick="showDeletePopup({{ resultData['id'] }})">USUŃ</button>
{% endblock %}
{% block javascripts %}
    <script src="/javascript/deletePopup.js"></script>
{% endblock %}