{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Użytkownicy
    </h1>
    {% if resultData %}
        <table id="usersTable">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Wiek</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Stawka zł/h</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in resultData %}
                    <tr>
                        <td>{{ data['name'] }}</td>
                        <td>{{ data['surname'] }}</td>
                        <td>{{ data['age'] }}</td>
                        <td>{{ data['phone'] }}</td>
                        <td>{{ data['email'] }}</td>
                        <td>{{ data['hourly_rate'] }}</td>
                        <td><a href="/manage/user/show/{{ data['id'] }}"><button>POKAŻ</button></a></td>
                        <td><a href="/manage/user/update/{{ data['id'] }}"><button>EDYTUJ</button></a></td>
                        <td><button onclick="showDeletePopup({{ data['id'] }})">USUŃ</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Brak użytkowników</h3>
    {% endif %}
    <a href="/manage/user/create/"><button>Dodaj użytkownika</button></a>
{% endblock %}

{% block javascripts %}
    <script src="/javascript/deletePopup.js"></script>
{% endblock %}
